

:root {
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #212121;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: inherit;
}


a {
  font-weight: 500;
  color: #0f52ba;
  text-decoration: none;
}
a:hover {
  color: #084ca1;
}


button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0f52ba;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #084ca1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
